/* CSS Selectors */

/* 1. Universal Selector */
/* 2. Type Selector: example: body, div, a */
/* 3. class Selector */
/* 4. Group Selectors: p, .className, #idName, a */
/* 5. Individually selectors with type, class and id */
/* 6. Id Selectors */
/* 7. Combinators */
/*      6.1 descendant selector (space)
        6.2 child selector (>)
        6.3 adjacent sibling selector (+)
        6.4 general sibling selector (~) */
/* 8. Attribute selector */
/* [] : are used to select attributes */

/* 1. Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Type Selector: example: body, div, a */
body {
  background-color: green;
}

/* 2. Type Selector: example: body, div, a */
ol {
  background-color: aqua;
}
/* 2. Type Selector: example: body, div, a */
li {
  background-color: yellow;
  display: inline;
}

/* 3. class Selector */
.list-3 {
  background-color: red;
  color: blanchedalmond;
}

/* 4. Group Selectors: p, .className, #idName, a */
.list-1,
.list-3,
span,
p.p2 {
  background-color: black;
  color: white;
}

/* 5. Individually selectors with type, class and id */
p.p1 {
  background-color: violet;
  color: black;
}

/* 6. Id Selectors */
#id-5 {
  background-color: #254fc3;
  color: #445ddf;
}
/* 6.1 descendant selector (space) */
/* div > ul > li.second-div-li {
  background-color: yellowgreen;
  display: block;
} */

/* 6.1 descendant selector (space) */
div ul li.youtube {
  background-color: yellowgreen;
  display: block;
}

/* 6.3 adjacent sibling selector (+) */
/* .youtube + .facebook > a > span {
  background-color: blue;
  color: white;
} */

/* 6.3 general sibling selector (~) */
.youtube ~ .linked-in > a {
  background-color: red;
  color: black;
}

/* [] : are used to select attributes */
input[type] {
  background-color: white;
}

button[type="submit"] {
  background-color: yellow;
}

a[title="google"] {
  color: rosybrown;
  background-color: red;
}

li[class~=" facebook"] {
  background-color: black;
  color: white;
}

/* ---Practice it yourself --- */
/* 
li[class^=" facebook"]
li[class$=" facebook"]
li[class|=" facebook"]
li[class*=" facebook"] 
*/
