* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stickyPosition {
  background-color: blanchedalmond;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 5px;
  position: sticky;
  top: 10%;
}

.para {
  height: 800px;
}

.fixedPosition {
  background-color: #ff786a;
  color: #0089;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0px 0px 10px gray;
  display: inline;
  padding: 2px;
  position: fixed;
  top: 10px;
  left: 5px;
}

.chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.chat-icon {
  width: 35px;
  height: 35px;
}

.chat-text {
  color: blue;
}

.div-1 {
  background-color: #ff786a;
  width: 50%;
  margin: 2% auto;
  height: 150px;
}

.div-1-1 {
  background-color: blanchedalmond;
  width: 60%;
  height: 30px;
  position: relative;
  top: 20px;
}
.div-2 {
  background-color: aliceblue;
  width: fit-content;
  margin: auto;
  height: 20px;
  border: 1px solid blueviolet;
  /* margin-top: 50px; */
  position: relative;
  top: 9px;
}

.grand-parent {
  background-color: #38ff45;
  width: 80%;
  margin: 2% auto;
  height: 200px;
  position: relative;
  padding: 2px;
}

.main-parent {
  background-color: #ff38fa;
  width: 50%;
  margin: 2% auto;
  height: 150px;
  /* position: relative; */
  padding: 2px;
}

.child-1 {
  background-color: #560554;
  width: 60%;
  margin: 2% auto;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}

.child-2 {
  position: absolute;
  background-color: #100556;
  width: 50%;
  margin: 2% auto;
  height: 60px;
  left: 0;
  top: 20%;
}
.child-2-child {
  background-color: #285605;
  width: 50%;
  margin: 2% auto;
  height: 50px;
  position: absolute;
  bottom: -10px;
  right: 0;
}
