*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 0;
  box-shadow: 0px 0px 20px 2px rgb(196, 222, 249);
  border-radius: 5px;
}

ul {
  width: 80%;
  margin: 0 !important;
}
li {
  display: block;
  float: left;
  list-style-type: none;
  padding: 20px;
  margin: 0;
}
li > a {
  font-size: 20px;
  text-decoration: none;
  color: #848f97;
}
li > a:hover {
  background-color: rgb(93, 94, 96);
  color: aliceblue;
}
a > img {
  width: 40px;
  height: 40px;
  margin-left: 10%;
  margin-top: 12px;
}
.btn {
  /* float: right; */
  padding: 10px 25px;
  margin-right: 25px;
  margin-top: 10px;
  background-color: rgb(98, 200, 240);
  color: azure;
  border-radius: 50px;
  font-size: 20px;
  border: 1px white;
  font-weight: bolder;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ...;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
