* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  background-image: url(https://st3.depositphotos.com/9904426/18360/i/450/depositphotos_183602504-stock-photo-baku-azerbaijan-january-132018-pepsi.jpg);
  background-position: center;
  background-size: cover;
  padding-right: 3%;
  padding-left: 5%;
  box-sizing: border-box;
  position: relative;
}
.header {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

a {
  color: #378de5;
}

.container .header nav ul li a {
  color: #cbcbcb;
  text-decoration: none;
  transition: ease-in-out;
  font-size: 15px;
}
.container .header nav ul li a:hover {
  font-size: 20px;
  color: #1bfb1b;
}

.logo {
  width: 80px;
  margin-top: 10px;
  cursor: pointer;
}
nav {
  flex: 1;
  padding-left: 450px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}
/* nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
} */
#btn1 {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #378de5 3%, #48789b 100%);
  border-radius: 30px;
  border: 1px solid #5e97d1;
  cursor: pointer;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding: 12px 20px;
  margin: 10px;
  text-decoration: none;
  box-shadow: 1px 4px 12px rgba(94, 28, 68, 0.15);
  text-shadow: 0px 1px 0px #528ecc;
}
#btn1:hover,
#btn2:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to bottom, #44aa89, #aa9923);
  color: #48789b;
  text-shadow: 0px 0px 5px white;
}
#btn2 {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
  border-radius: 30px;
  border: 1px solid #cbcbcb;
  cursor: pointer;
  color: #5e97d1;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding: 12px 20px;
  margin: 10px;
  text-decoration: none;
  box-shadow: 1px 4px 12px rgba(94, 28, 68, 0.15);
  text-shadow: 0px 1px 0px #cbcbcb;
}
.btn:hover {
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}
.content {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.content .text {
  position: relative;
  max-width: 600px;
}
.content .text h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 80px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  font-size: 40px;
  color: #fff;
}
.content .text h1 span {
  font-size: 50px;
}
.content .text p {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 40px;
  color: #e7e3e3;
}
.btn3 {
  background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
  margin-top: 60px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  box-shadow: 1px 4px 12px rgba(94, 28, 68, 0.15);
}
.btn3:hover {
  width: 80%;
  margin-left: 0;
  background-image: radial-gradient(white, #78ff09);
  box-shadow: 5px 5px 10px black;
}

.pepsi {
  transition: 1s ease-in-out;
  cursor: pointer;
}
.pepsi:hover {
  transform: rotate(360deg);
  cursor: pointer;
}
