@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.row {
  background-color: white;
}

.loginButton:hover {
  background-color: rgb(213, 189, 232);
}

.section-1-left {
  margin-top: 11%;
}

.section-1-left h1 {
  font-size: 4rem;
  font-weight: 800;
  color: black;
}

.section-1-left button {
  background-color: #1da1f2 !important;
  height: 3rem;
  border-radius: 7px;
  font-weight: 400;
}

.section-3-row {
  height: 100px;
  margin: 15% auto;
}
.section-3-col-1 {
  /* background-color: #1da1f2; */
  border-left: 2px solid #1da1f2;
  padding-left: 5%;
}

.section-3-col-1 p {
  text-align: start;
  display: flex;
  align-items: center;
  padding-top: 6%;
}

.section-3-col-2 {
  border-right: 1px solid #0dff;
}

.section-3-col-2 h5 {
  font-weight: 600;
  padding-top: 10%;
  font-size: 1.5rem;
}

.section-3-col-2 h5 span {
  color: #1da1f2;
  font-weight: 600;
}

.section-3-col-2 p {
  color: #4d4d53;
  font-weight: 600;
}

.section-3-col-3 {
  border-right: 1px solid #0dff;
}

.section-3-col-3 h5,
.section-3-col-4 h5,
.section-3-col-5 h5 {
  font-weight: 600;
  padding-top: 10%;
  font-size: 1.5rem;
}

.section-3-col-3 h5 span,
.section-3-col-4 h5 span,
.section-3-col-5 h5 span {
  color: #1da1f2;
  font-weight: 600;
}

.section-3-col-3 p,
.section-3-col-4 p,
.section-3-col-5 p {
  color: #4d4d53;
  font-weight: 600;
}

.section-3-col-4 {
  border-right: 1px solid #0dff;
}

.section-3-col-5 {
  border-right: 1px solid #0dff;
}

.section-4-title .section-4-col h1 {
  color: black;
}

.section-4-title .section-4-col h1 span {
  color: #1da1f2;
}

.section-4-grid-part {
  border-radius: 15px;
  position: relative;
  right: 5%;
}

.section-4-grid .section-4-grid-part img {
  position: absolute;
  right: 0;
  top: 0;
}

.part-1 {
  background-color: #fffaec;
  height: 360px;
}
.part-2 {
  background-color: #fff3f7;
  height: 360px;
}

.part-3 {
  background-color: #eefdff;
  height: 360px;
}

.part-4 {
  background-color: #f5eefe;
  height: 360px;
}

.section-4-button {
  background-color: #1da1f2 !important;
  height: 3rem;
  border-radius: 7px;
  font-weight: 400;
}
